@import url('https://fonts.googleapis.com/css2?family=Kavivanar&display=swap');

html, body {
    background-color: antiquewhite;
    color: #6692BA;
    font-family: 'Kavivanar', cursive;
    margin: 0;
    padding: 0;
}
img {
    width: 100%;
}
a {
    text-decoration: none;
    color: #6692BA;
}
.container {
    max-width: 1200px;
    margin: auto;
}
.flex {
    display: flex;
}
.card {
    box-shadow: 0 5px 5px #6692BA88;
    background-color: #fafafa;
}
.card a{
    display: block;
    height: 100%;
}
.card-padding {
    padding: 20px;
}
.btn {
    height: 30px;
    cursor: pointer;
    padding: 5px 10px;
    background-color: #6692BA;
    border: solid bisque 1px;
    border-radius: 5px;
    color: bisque;
    font-weight: bold;
    transition: all .3s ease-in-out;
    margin: auto;
    display: block;
    margin-top: 50px;
}
.btn:hover {
    background-color: #ec8099;
    border: solid bisque 1px;
    color: bisque;
}
header {
    background-color: bisque;
    border-radius: 0 0 20px 20px;
    padding: 10px 0;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 100;
}
header > div {
    gap: 20px;
    justify-content: space-between;
}
header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
    align-items: center;
    transition: all .4s ease-in-out;
}
header li:nth-child(even) {
    cursor: default;
}
header li a {
    font-weight: bold;
    letter-spacing: 1px;
    transition: color .3s ease-in-out;
}
header li a:hover {
    color: #BC2649;
}
#logo-blog-menu {
    width: 50%;
}
section {
    padding: 50px 0 30px;
}
.principal {
    justify-content: space-between;
}
.principal article {
    width: 70%;
}
#artigos{
    padding-top: 0;
}
.article-info * {
    margin: 0;
}
.article-info {
    padding: 20px;
}
.article-info h2 {
    padding: 5px 0;
    height: 105px;
    overflow: hidden;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.article-img {
    overflow: hidden;
    max-height: 450px;
}
.article-img img {
    transform: scale(1.1);
    transition: all .4s ease-in-out;
}
article:hover img {
    transform: scale(1.2);
}
.sidebar {
    width: calc(30% - 30px);
    text-align: center;
}
.sidebar .info-bianca img {
    border-radius: 50%;
    width: 180px;
    border: solid .5px rgb(243, 212, 174);
}
.sidebar .card:first-child {
    margin-bottom: 30px;
}
.redes-sociais {
    justify-content: space-evenly;
    align-items: center;
}
.redes-sociais a {
    transition: all .4s ease-in-out;
}
.redes-sociais a:hover {
    filter: brightness(150%);
}
.posts {
    flex-wrap: wrap;
    justify-content: start;
    gap: 30px;
}
.posts .card {
    width: 31.6%;
}


footer{
    background-color: bisque;
}
footer div {
    justify-content: space-evenly;
    margin-bottom: 10px;
}
.footer-titulo {
    text-align: center;
}
.footer-redes-sociais {
    justify-content: space-evenly;
    align-items: center;
    gap: 15px;
    margin-top: 30px;
}
.footer-redes-sociais a {
    transition: all .4s ease-in-out;
}
.footer-redes-sociais a:hover {
    filter: brightness(150%);
}
.logo_bianca {
    gap: 8px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo_bianca img{
    width: 30px;
}